

<div
  class="container p-gutter grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4"
>


  <div class="sm:col-span-1">
    
    <mat-form-field appearance="fill">
      <mat-label>Hisse</mat-label>
      <mat-select [formControl]="stocks" multiple>
        <mat-option *ngFor="let stock of stockList" [value]="stock">{{stock}}</mat-option>
      </mat-select>
    </mat-form-field>

    <p>stocks: {{stocks.value | json}}</p>
  </div>



  <div class="sm:col-span-1">
    <mat-form-field>
      <mat-label>Tarih</mat-label>
      <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
        <input matStartDate formControlName="start" placeholder="Start date">
        <input matEndDate formControlName="end" placeholder="End date">
      </mat-date-range-input>
      <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
      <mat-hint>Tarih seçiniz</mat-hint>
    </mat-form-field>
    
    <p>Selected range: {{range.value | json}}</p>

  </div>

  <div class="sm:col-span-2">
    <div class="flex items-center justify-end gap-2">
      <button color="primary" mat-raised-button type="button">Göster</button>
    </div>
  </div>

  <div class="sm:col-span-4">
    <div class="example-container mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
    
        <!-- Name Column -->
        <ng-container matColumnDef="name" sticky>
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
    
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>
    
        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef> Weight </th>
          <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
        </ng-container>
    
        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef> Symbol </th>
          <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    
    
    <!-- Copyright 2018 Google Inc. All Rights Reserved.
        Use of this source code is governed by an MIT-style license that
        can be found in the LICENSE file at http://angular.io/license -->
  </div>



  <vex-widget-quick-line-chart
    icon="mat:pageview"
    [series]="pageViewsSeries"
    iconClass="text-primary bg-primary/10"
    label="Page Views"
    value="92.4k"
  ></vex-widget-quick-line-chart>

  <vex-widget-quick-line-chart
    icon="mat:group"
    [options]="uniqueUsersOptions"
    [series]="uniqueUsersSeries"
    iconClass="text-orange bg-orange-light"
    label="Unique Users"
    value="67.2k"
  ></vex-widget-quick-line-chart>

  <vex-widget-large-chart
    [series]="userSessionsSeries"
    class="sm:col-span-2"
  ></vex-widget-large-chart>

  <vex-widget-table
    [columns]="tableColumns"
    [data]="tableData"
    class="sm:col-span-2"
  ></vex-widget-table>

  <vex-widget-quick-value-center
    [change]="124.4"
    icon="mat:group"
    iconClass="text-primary bg-primary/10"
    label="Users"
    value="67.4k"
  ></vex-widget-quick-value-center>
  <vex-widget-quick-value-center
    [change]="-23.7"
    icon="mat:pageview"
    iconClass="text-orange bg-orange-light"
    helpText="Additional information"
    label="Sessions"
    value="96.2k"
  ></vex-widget-quick-value-center>
  <vex-widget-quick-value-center
    [change]="23.2"
    icon="mat:cloud_off"
    iconClass="text-deep-orange bg-deep-orange-light"
    helpText="Explain something"
    label="Bounce Rate"
    value="6.92%"
  ></vex-widget-quick-value-center>
  <vex-widget-quick-value-center
    [change]="34.5"
    icon="mat:timer"
    iconClass="text-teal bg-teal-light"
    label="Session Duration"
    value="16m 48s"
  ></vex-widget-quick-value-center>

  <vex-widget-large-goal-chart
    [series]="salesSeries"
    class="sm:col-span-full"
    total="4,374"
  ></vex-widget-large-goal-chart>
</div>
